version: 0.0.0.{build}
branches:
  only:
  - master
image: Visual Studio 2019
init:
- cmd: >-
    mkdir %TEMP%\bazel\cache

    mkdir %TEMP%\bazel\bin

    curl -L https://github.com/bazelbuild/bazelisk/releases/download/v1.7.5/bazelisk-windows-amd64.exe -o %TEMP%\bazel\bin\bazelisk.exe
cache: '%TEMP%\bazel\cache'
build_script:
- cmd: >-
    %TEMP%\bazel\bin\bazelisk.exe build --disk_cache=%TEMP%\bazel\cache --cxxopt /std:c++17 --build_python_zip -c fastbuild //...:all

    %TEMP%\bazel\bin\bazelisk.exe build --disk_cache=%TEMP%\bazel\cache --cxxopt /std:c++17 --build_python_zip -c dbg //...:all

    %TEMP%\bazel\bin\bazelisk.exe build --disk_cache=%TEMP%\bazel\cache --cxxopt /std:c++17 --build_python_zip -c opt //...:all
test_script:
- cmd: >-
    %TEMP%\bazel\bin\bazelisk.exe test --disk_cache=%TEMP%\bazel\cache --cxxopt /std:c++17 --build_python_zip -c fastbuild //...:all

    %TEMP%\bazel\bin\bazelisk.exe test --disk_cache=%TEMP%\bazel\cache --cxxopt /std:c++17 --build_python_zip -c dbg //...:all

    %TEMP%\bazel\bin\bazelisk.exe test --disk_cache=%TEMP%\bazel\cache --cxxopt /std:c++17 --build_python_zip -c opt //...:all
